body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* font-size:1rem; */
    margin: 0;
    background-image: url('../images/sunSet2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    /* block-size: 100%; */
}


.lightbox-trees--image {
    width: 100%; 
    height: 50%;
    margin-top:  1rem;
}