

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    /* font-size:1rem; */
    margin: 0;
    background-image: url('../images/bees.jpg');
    background-repeat: no-repeat;
    background-position-y: 15rem;
    background-size: cover;
}

.slider .slides{
    height: 10rem;
}

.lightbox-hive--image {
    width: 100%; 
    height: 50%;
    margin-top:  1rem;
}

@media(min-width: 40rem) {
    body{
    background-position: center;
    }
}